* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(112, 7, 126, 0.664);
}
audio::-webkit-media-controls-panel {
  background-color: #56aeff;
}
.container {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 50px;
  background-color: rgba(70, 26, 128, 0.459);
  display: flex;
  align-items: center;
}
.navbar {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-family: "Nabla", cursive;
  font-size: 1.5rem;
  align-items: center;
}
a {
  text-decoration: none;
}
audio {
  border: 3px solid rgb(12, 110, 134);
  border-radius: 50px;
}
.about {
  display: flex;
  height: 700px;
  flex-direction: column;
  align-items: center;
  font-family: "Nabla", cursive;
  font-size: xx-large;
  background: url(../PICTURES/background.gif) no-repeat center center;
  background-size: cover;
  border: 5px solid orange;
}
.about__picture {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.about img {
  width: 30%;
  border: 3px solid rgb(12, 110, 134);
  border-radius: 50px;
}
.about-me {
  font-family: "Amatic SC", cursive;
  color: white;
  width: 50%;
}
.about-me a {
  color: antiquewhite;
}
/* finish about me  */
.socials img {
  width: 40px;
  border: 2px solid antiquewhite;
  background-color: orange;
  border-radius: 10px;
  fill: orange;
}

.socials {
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url(../PICTURES/photo-1558481795-7f0a7c906f5e.jpg) no-repeat
    center center;
  background-size: cover;
  border: 5px solid orange;
}
/* finish socials*/
.skills {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: purple; /* White text color */
  margin-bottom: 20px;
  border: 5px solid orange;
}

.html {
  width: 50%;
  background-color: orange;
}
.css {
  width: 50%;
  background-color: orange;
}
.js {
  width: 30%;
  background-color: orange;
}
.php {
  width: 99%;
  background-color: orange;
}
.dna {
  background: url(../PICTURES/dna.avif) no-repeat center center;
  background-size: 100% 100%;
}
/* finish skills */
.hobbies img {
  width: 400px;
  height: 400px;
}
.hobbies {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: url(../PICTURES/hobbies-background.png);
  background-size: 100% 100%;
  border: 5px solid orange;
}
.hobbies h2 {
  font-family: "Nabla", cursive;
}
.hobbies__music :first-child {
  font-size: xx-large;
}
.hobbies__music :nth-child(2) {
  background-color: purple;
  border: 5px solid orange;
}
.hobbies__cats > h2 {
  background-color: purple;
  border: 5px solid orange;
}
/* start hamburger */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
